@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

body {
    padding:0;
    margin:0;
    width:100vw;
    height:100vh;
    overflow:hidden;
}
:root {
    --c-red:rgb(255, 44, 108);
    --c-blue:rgb(44, 171, 255);
}
* {
    font-family: 'Poppins', sans-serif;
    margin:0;
}
.DotCenterer {
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    height:100%;
}
.rhythmDot {
    --color:var(--c-red);
    width:15vh;
    height:15vh;
    background-color:white;
    border-radius:1000px;
    margin:1vh;
    transform:scale(1);
    transition:0.2s transform;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-sizing:border-box;
    border:3vh solid var(--color);
    transform-style: preserve-3d;
}
.rhythmDot:after {
    position:relative;
    top:-3vh;
    left:-3vh;
    content:"";
    display:block;
    width:15vh;
    height:15vh;
    transform:translateZ(-1px);
    background-color:var(--color);
    border-radius:1000px;
}
.rhythmDot.state-pre, .rhythmDot:hover {
    transform:scale(1.1);
}
.rhythmDot.state-clicked {
    transform:scale(0.8);
    background-color:var(--color);
}
.rhythmDot.state-pre:after {
    transform:scale(1) translateZ(-1px);
    opacity:1;
    transition:0s;
}
.rhythmDot.state-clicked:after {
    transform:scale(1.5) translateZ(-1px);
    opacity:0;
    transition:0.2s;
}
.ResourceCounters {
    position:absolute;
    top:20px;
    left:20px;
    font-size:2em;
}
.Resource {
    display:flex;
    align-items:center;
    margin:10px 0;
}
.Resource .icon {
    --color:var(--c-red);
    width:50px;
    height:50px;
    background-color:var(--color);
    margin-right:10px;
    border-radius:500px;
}
.CanvasContainer {
    position:absolute;
    left:0;
    top:0;
    z-index:1000;
}